NODE_ENV=development_or_production
PORT=3210
TZ = 'Europe/Amsterdam'
BOT_TOKEN=[yoursecret:bot_token]
BOT_URL=[full_bot_url]
BOT_PATH=/[secret-path]
BOT_USERNAME=[your_bots_username]
GROUP_ID=[-telegram_group_id]

# Locales
DEFAULT_LOCALE=nl
# comma separated locales, space separated code and name
LOCALES=nl Nederlands, en English

# The items below are not being used yet
HAS_SSL=false
SSL_SERVER_KEY=/full_path/to/key.pem
SSL_SERVER_CERT=/full_path/to/cert.pem
